.accordionContainer{
    padding: 20px 27.52px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // background-color: #F3F5F6;
    // border: 1px solid red;

}
.accordionQuestion{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}
.accordionQestionButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionAnswer{
color: rgba(60, 60, 67, 0.85);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}