.MyFormContainer{
    width: 1020px;
    // border: 1px solid red;
    margin: 0 auto;
    margin-top: 50px;
}
.emptyFormListHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emptyFormList{
    border: 1px dashed #4040F2;
    text-align: center;
    padding: 55px;
    width: 805px;
    margin: 0 auto;
    margin-top: 180px;
    color: #A8B0B9;
}

.formSearch{
    display: flex;
    align-items: center;
    background: #EFEFEF;
    padding: 7px 16px;
    border-radius: 8px;
    input{
        border: none;
        background: none;
        outline: none;
        width: 100%;
    }
}
.ActionSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}


//form table

/* FormTable.scss */
.formTable {
    margin-top: 60px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
  }
  
.formTableRow{
          border: 1px solid #ccc;

    th, td {
    //   border: 1px solid #ccc;
      padding: 20px;
      text-align: left;
    }
    
}
.formTableRowSeeMore{
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #4040F2;
    gap: 7px;
    cursor: pointer;

}
//   th {
//     background-color: #f2f2f2;
//   }
  