@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Quicksand', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  font-size: 14px;
}
.page-title{
  color: #000;
  font-family: 'Quicksand';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.15px;
}


body{
  max-width: 100vw;
  width: 100vw;
}

.page-header-right{
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding-top: 0px 120px;
  gap: 20px; 
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  gap: 40px;
  place-content: center;
  place-items: center;
  align-items: center;
  justify-content: space-between; */
  /* max-width: 1440px; */
  margin: 0 auto;
}

.form-header{
  margin: 0 auto;
  margin-top: 80px;
  width: 595px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: var(--XS, 8px);
  border: 1px solid var(--cod-gray-border-divider, #E5E5E5);
  background: var(--Neutral-Base, #FFF);

align-self: stretch;

}
.form-title{
  width: 100%;
  color: var(--Cod-Gray-Primary-Text, #171717);
  font-family: 'Quicksand';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 0.15px;
}
.form-description{
  width: 100%;
  color: var(--Cod-Gray-Secondary-Text, #404040);
  font-family: 'Quicksand';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.5px;
}

.question-footer{
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  width: 595px;
  border-top: 1px solid var(--cod-gray-border-divider, #262626);
  background: var(--Cod-Gray-Surface, #171717);
  margin: 0 auto;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
}
input, textarea {
  border: none;
  outline: none;
  background-color: transparent;
}
.answer-type{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 8px;
  width: 100%;
}
.answer-type-text{
  color: var(--Cod-Gray-Secondary-Text, #404040);
  font-family: 'Quicksand';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
}
.new-password-modal-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}